- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Read sheet "Australia by Residence" from Australia.xlsx
# Ignore the first 20 rows.
# List all Column and Row indexes(Print their names)

# df=pd.read_excel("Australia.xlsx",sheet_name="Australia by Residence")
df=pd.read_excel("Australia.xlsx",sheet_name="Australia by Residence",skiprows=list(range(0,20)))
print(df.head(5))
print()

print(df.columns)
print()

print(df.index)

        Type Coverage          OdName  AREA AreaName   REG          RegName  \
0  Emigrants     Both     Afghanistan   935     Asia  5501    Southern Asia
1  Emigrants     Both         Albania   908   Europe   925  Southern Europe
2  Emigrants     Both         Algeria   903   Africa   912  Northern Africa
3  Emigrants     Both  American Samoa   909  Oceania   957        Polynesia
4  Emigrants     Both         Andorra   908   Europe   925  Southern Europe

   DEV             DevName  1980  ...  2004  2005  2006  2007  2008  2009  \
0  902  Developing regions     0  ...    80   120    70    80   120    ..
1  901   Developed regions     0  ...    30    40    30    30    30    ..
2  902  Developing regions    20  ...    20    20    30    40    50    ..
3  902  Developing regions    10  ...     0     0     0     0     0    ..
4  901   Developed regions     0  ...     0     0     0     0     0    ..

   2010  2011  2012  2013
0    ..    ..    ..    ..
1    ..    ..    ..    ..
2    ..    ..    ..    ..
3    ..    ..    ..    ..
4    ..    ..    ..    ..

[5 rows x 43 columns]

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

RangeIndex(start=0, stop=448, step=1)

# Dataset Analysis

In [3]:
# Describe the dataset

df.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
count,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,...,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000
mean,912.955357,1208.040179,902.642857,1228.348214,1331.651786,1283.660714,1134.285714,1115.580357,1187.455357,1290.803571,...,2122.946429,2337.857143,2555.982143,2611.294643,2738.125000,2514.241071,2545.357143,2709.866071,3023.348214,3376.116071
std,15.019682,1109.669573,9.165500,10145.734028,11349.461111,10643.064898,8965.372332,8805.489574,9545.180624,10588.914966,...,16727.854191,18384.758383,20198.020921,20573.219253,21745.929611,19834.528214,20203.441660,21786.641444,24542.748186,27950.462893
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.750000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
50%,908.000000,922.000000,902.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,30.000000,35.000000,40.000000,45.000000,50.000000,50.000000,50.000000,60.000000,70.000000,75.000000
75%,909.000000,926.000000,902.000000,130.000000,140.000000,160.000000,150.000000,162.500000,162.500000,182.500000,...,362.500000,372.500000,360.000000,390.000000,420.000000,400.000000,410.000000,455.000000,480.000000,512.500000
max,999.000000,5501.000000,999.000000,184290.000000,212690.000000,195200.000000,153570.000000,153530.000000,172550.000000,196690.000000,...,289870.000000,317560.000000,356410.000000,361990.000000,388450.000000,350990.000000,363470.000000,402210.000000,460650.000000,535970.000000

In [4]:
# Use values and index attributes on both Row and Column Indexes
# print(df.columns.values)
# print()
print(df["AREA"].index)
print()
print(df["AREA"].values)

RangeIndex(start=0, stop=448, step=1)

[935 908 903 909 908 903 904 904 904 935 904 909 908 935 904 935 935 904
 908 908 904 903 905 935 904 908 903 904 904 935 908 903 903 903 935 903
 905 904 903 903 904 935 935 935 935 904 903 903 909 904 903 908 904 935
 908 935 903 908 903 904 904 904 903 904 903 903 908 903 908 904 909 908
 908 904 909 903 903 935 908 903 908 908 905 904 904 909 904 903 903 904
 904 908 904 908 908 935 935 935 935 908 935 908 904 935 935 935 903 909
 935 935 935 908 935 903 903 903 908 908 908 903 903 935 935 903 908 909
 904 903 903 903 904 909 908 935 904 903 903 935 903 909 935 908 909 909
 904 903 903 909 909 908 935 935 909 904 909 904 904 935 908 908 904 935
 935 908 903 908 908 903 903 904 904 904 909 935 903 903 903 935 908 908
 909 903 903 908 935 935 903 904 903 908 908 935 935 935 908 935 903 909
 909 904 903 935 935 904 909 903 908 935 908 903 905 904 904 935 909 904
 935 909 903 935 903 903 999 999 935 908 903 909 908 903 904 904 904 935
 904 909 908 935 904 935 935 904 908 908 904 903 905 935 904 908 903 904
 904 935 908 903 903 903 935 903 905 904 903 903 904 935 935 935 935 904
 903 903 909 904 903 908 904 935 908 935 903 908 903 904 904 904 903 904
 903 903 908 903 908 904 909 908 908 904 909 903 903 935 908 903 908 908
 905 904 904 909 904 903 903 904 904 908 904 908 908 935 935 935 935 908
 935 908 904 935 935 935 903 909 935 935 935 908 935 903 903 903 908 908
 908 903 903 935 935 903 908 909 904 903 903 903 904 909 908 935 904 903
 903 935 903 909 935 908 909 909 904 903 903 909 909 908 935 935 909 904
 909 904 904 935 908 908 904 935 935 908 903 908 908 903 903 904 904 904
 909 935 903 903 903 935 908 908 909 903 903 908 935 935 903 904 903 908
 908 935 935 935 908 935 903 909 909 904 903 935 935 904 909 903 908 935
 908 903 905 904 904 935 909 904 935 909 903 935 903 903 999 999]

In [5]:
print(df.index)
print()
print(df.loc[45])

RangeIndex(start=0, stop=448, step=1)

Type                              Emigrants
Coverage                               Both
OdName                             Colombia
AREA                                    904
AreaName    Latin America and the Caribbean
REG                                     931
RegName                       South America
DEV                                     902
DevName                  Developing regions
1980                                     50
1981                                     40
1982                                     50
1983                                     50
1984                                     50
1985                                     20
1986                                     40
1987                                     30
1988                                     40
1989                                     40
1990                                     60
1991                                     60
1992                                    130
1993                                    110
1994                                     80
1995                                     90
1996                                     90
1997                                    120
1998                                    120
1999                                    100
2000                                    160
2001                                    220
2002                                    290
2003                                    410
2004                                    230
2005                                    210
2006                                    180
2007                                    270
2008                                    370
2009                                     ..
2010                                     ..
2011                                     ..
2012                                     ..
2013                                     ..
Name: 45, dtype: object

In [6]:
# Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
print(df.shape)
print()
print(df.dtypes)
print()
print(df.size)
print()
# print(df.T)

(448, 43)

Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

19264

# Data

In [7]:
# Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
# df[df.Type=="Emigrants"].index
df.drop(df[df.Type=="Emigrants"].index,axis=0,inplace=True)
df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,80,110,180,140,560,..,..,..,..,..
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,140,130,110,110,140,..,..,..,..,..
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,20,50,30,30,60,..,..,..,..,..
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,10,..,..,..,..,..
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,10,0,10,10,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,40,20,10,40,40,..,..,..,..,..
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,370,240,410,410,400,..,..,..,..,..
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,1790,1560,1880,2180,2270,..,..,..,..,..
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,1650,1800,2320,18310,4970,..,..,..,..,..
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,350990,363470,402210,460650,535970,..,..,..,..,..

In [8]:
# Find columns for which more than 50% data is missing and drop them (Column Deletion)
df.replace("..",np.nan,inplace=True)
print(df.count())
df.dropna(axis=1,thresh=0.5*len(df),inplace=True)
df

Type        224
Coverage    224
OdName      224
AREA        224
AreaName    224
REG         224
RegName     224
DEV         224
DevName     224
1980        224
1981        224
1982        224
1983        224
1984        224
1985        224
1986        224
1987        224
1988        224
1989        224
1990        224
1991        224
1992        224
1993        224
1994        224
1995        224
1996        224
1997        224
1998        224
1999        224
2000        224
2001        224
2002        224
2003        224
2004        224
2005        224
2006        224
2007        224
2008        224
2009          0
2010          0
2011          0
2012          0
2013          0
dtype: int64

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008
224,Immigrants,Both,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,10,...,270,100,20,40,70,80,110,180,140,560
225,Immigrants,Both,Albania,908,Europe,925,Southern Europe,901,Developed regions,0,...,70,110,110,200,250,140,130,110,110,140
226,Immigrants,Both,Algeria,903,Africa,912,Northern Africa,902,Developing regions,10,...,30,20,30,60,20,20,50,30,30,60
227,Immigrants,Both,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,0,0,0,0,0,0,0,10
228,Immigrants,Both,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,10,0,10,10,0,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Immigrants,Both,Yemen,935,Asia,922,Western Asia,902,Developing regions,10,...,20,20,60,40,150,40,20,10,40,40
444,Immigrants,Both,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,150,...,60,100,190,260,430,370,240,410,410,400
445,Immigrants,Both,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,630,...,510,910,1500,1670,2330,1790,1560,1880,2180,2270
446,Immigrants,Both,Unknown,999,World,999,World,999,World,4060,...,2850,5500,5090,2160,1760,1650,1800,2320,18310,4970
447,Immigrants,Both,Total,999,World,999,World,999,World,184290,...,289870,317560,356410,361990,388450,350990,363470,402210,460650,535970

In [9]:
# Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion) Your columns should 
# now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"
df.drop(["Type","Coverage","AREA","REG","DEV"],axis=1,inplace=True)
df.columns

Index([  'OdName', 'AreaName',  'RegName',  'DevName',       1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008],
      dtype='object')

# Rename

In [10]:
# Rename columns :OdName -> Country; RegName -> Region
df.rename({"OdName":"Country","RegName":"Region"},axis=1,inplace=True)

In [11]:
# Convert Column Names with Int type to Strings to avoid index errors with string indexing 
#"1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
arr=df.columns.values
for elem in arr:
    if type(elem)==int:
#         print(elem)
        df.rename({elem:str(elem)},axis=1,inplace=True)
    
df.columns

Index(['Country', 'AreaName', 'Region', 'DevName', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008'],
      dtype='object')

In [20]:
# Find Total number of immigrants for all years, and create a new column Total in data Frame
arr=df.loc[:,'1980':'2008'].sum(axis=1)
df.insert(len(df.columns),'Total',arr,allow_duplicates=True)
df

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,100,20,40,70,80,110,180,140,560,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,110,110,200,250,140,130,110,110,140,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,30,60,20,20,50,30,30,60,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,10,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,0,10,10,0,10,10,0,10,10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,60,40,150,40,20,10,40,40,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,100,190,260,430,370,240,410,410,400,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,317560,356410,361990,388450,350990,363470,402210,460650,535970,7965110

# Head Tail Sort

In [22]:
# - Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
#     - find something weird in the dataset ? Delete that row 'world'
# - Analyze last few rows also in the sorted result (Don't sort inplace)
df_sorted_by_total=df.sort_values('Total',axis=0,ascending=False)

df_sorted_by_total

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
447,Total,World,World,World,184290,212690,195200,153570,153530,172550,...,317560,356410,361990,388450,350990,363470,402210,460650,535970,7965110
432,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,Developed regions,43540,57050,51730,31660,25150,27630,...,51000,52940,57330,70150,53140,53300,57250,61490,65160,1333340
367,New Zealand,Oceania,Australia and New Zealand,Developed regions,34370,34440,23920,13620,16900,27070,...,47230,45570,29500,28000,40710,44680,45550,39120,46960,898760
434,United States of America,Northern America,Northern America,Developed regions,10470,12080,12490,11110,11840,12480,...,18030,19230,18950,18980,18540,18490,17320,19260,20860,450370
266,"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,4170,4380,4980,5480,7450,6820,...,16410,18620,20200,19220,9740,10070,10270,9680,11030,388640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,Saint Helena,Africa,Western Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393,Saint Kitts and Nevis,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,Saint Vincent and the Grenadines,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Anguilla,Latin America and the Caribbean,Caribbean,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
270,Comoros,Africa,Eastern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
df.drop(447,axis=0,inplace=True)
df

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,100,20,40,70,80,110,180,140,560,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,110,110,200,250,140,130,110,110,140,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,30,60,20,20,50,30,30,60,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,10,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,0,10,10,0,10,10,0,10,10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,60,40,150,40,20,10,40,40,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,100,190,260,430,370,240,410,410,400,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350
446,Unknown,World,World,World,4060,4440,4010,3220,3970,4610,...,5500,5090,2160,1760,1650,1800,2320,18310,4970,141660

In [57]:
# - Check if these have all unique values or not:
#     - countries
#     - continents (AreaName)
#     - country continent pairs
print(df['Country'].unique().size==df['Country'].count())
print(df['AreaName'].unique().size==df['AreaName'].count())
ans=df.groupby(['Country','AreaName'],axis=0)
print(len(ans.groups)==df.index.size)

True
False
True

In [81]:
# - Find countries for which no of immigrants for all years is 0
# - Find count of above countries

# method 1
print(df[['Country']][df['Total']==0].values)
print()
print(df[['Country']][df['Total']==0].values.size)
print()

# method 2
print(df['Country'][(df.loc[:,'1980':'2008']==0).all(axis=1)].values)
print()
print((df.loc[:,'1980':'2008']==0).all(axis=1).sum())

[['Anguilla']
 ['Central African Republic']
 ['Comoros']
 ['Greenland']
 ['Guadeloupe']
 ['Holy See']
 ['Mayotte']
 ['Saint Helena']
 ['Saint Kitts and Nevis']
 ['Saint Vincent and the Grenadines']
 ['Turks and Caicos Islands']
 ['United States Virgin Islands']
 ['Western Sahara']]

13

['Anguilla' 'Central African Republic' 'Comoros' 'Greenland' 'Guadeloupe'
 'Holy See' 'Mayotte' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Vincent and the Grenadines' 'Turks and Caicos Islands'
 'United States Virgin Islands' 'Western Sahara']

13

In [83]:
# - Find countries for which no of immigrants is 0 for any year

print(df['Country'][(df.loc[:,'1980':'2008']==0).any(axis=1)].values)
print()
print((df.loc[:,'1980':'2008']==0).any(axis=1).sum())

['Albania' 'American Samoa' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Armenia' 'Aruba' 'Australia' 'Azerbaijan'
 'Bahamas' 'Barbados' 'Belarus' 'Belize' 'Benin' 'Bhutan'
 'Bosnia and Herzegovina' 'British Virgin Islands' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Comoros' 'Congo' "Côte d'Ivoire"
 'Croatia' 'Cuba' 'Czech Republic' "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Djibouti' 'Dominica'
 'Dominican Republic' 'El Salvador' 'Equatorial Guinea' 'Eritrea'
 'Estonia' 'Ethiopia' 'Faeroe Islands' 'Falkland Islands (Malvinas)'
 'French Guiana' 'Gabon' 'Gambia' 'Georgia' 'Gibraltar' 'Greenland'
 'Grenada' 'Guadeloupe' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Holy See' 'Honduras' 'Kazakhstan' 'Kiribati'
 'Kyrgyzstan' 'Latvia' 'Lesotho' 'Liberia' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Maldives' 'Mali' 'Marshall Islands'
 'Martinique' 'Mauritania' 'Mayotte' 'Micronesia (Federated States of)'
 'Monaco' 'Mongolia' 'Montserrat' 'Mozambique' 'Namibia' 'Nicaragua'
 'Niger' 'Niue' 'Northern Mariana Islands' 'Palau' 'Panama' 'Paraguay'
 'Puerto Rico' 'Qatar' 'Republic of Moldova' 'Réunion'
 'Russian Federation' 'Rwanda' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Vincent and the Grenadines' 'Senegal' 'Sierra Leone'
 'Slovakia' 'Slovenia' 'Somalia' 'State of Palestine' 'Suriname'
 'Tajikistan' 'The former Yugoslav Republic of Macedonia' 'Timor-Leste'
 'Togo' 'Tokelau' 'Tunisia' 'Turkmenistan' 'Turks and Caicos Islands'
 'Tuvalu' 'Ukraine' 'United States Virgin Islands' 'Uzbekistan'
 'Wallis and Futuna Islands' 'Western Sahara' 'Yemen']

121

# Save Data

In [88]:
# - Drop the row where AreaName is 'World'-


df.drop(df[df.AreaName=='World'].index.values,inplace=True)

In [91]:
# - Save the dataset to a new file AustraliaFiltered.xlsx
df.to_excel('AustraliaFiltered.xlsx')
df

,Country,AreaName,Region,DevName,1980,1981,1982,1983,1984,1985,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,Total
224,Afghanistan,Asia,Southern Asia,Developing regions,10,20,30,30,70,100,...,100,20,40,70,80,110,180,140,560,4630
225,Albania,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,110,110,200,250,140,130,110,110,140,1910
226,Algeria,Africa,Northern Africa,Developing regions,10,50,30,10,20,20,...,20,30,60,20,20,50,30,30,60,730
227,American Samoa,Oceania,Polynesia,Developing regions,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,10,30
228,Andorra,Europe,Southern Europe,Developed regions,0,0,10,0,0,0,...,0,10,10,0,10,10,0,10,10,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,Wallis and Futuna Islands,Oceania,Polynesia,Developing regions,0,0,0,0,0,0,...,0,0,0,0,10,0,0,0,0,10
442,Western Sahara,Africa,Northern Africa,Developing regions,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
443,Yemen,Asia,Western Asia,Developing regions,10,0,0,10,20,10,...,20,60,40,150,40,20,10,40,40,570
444,Zambia,Africa,Eastern Africa,Developing regions,150,110,120,180,130,170,...,100,190,260,430,370,240,410,410,400,5590
445,Zimbabwe,Africa,Eastern Africa,Developing regions,630,1120,1190,980,640,500,...,910,1500,1670,2330,1790,1560,1880,2180,2270,27350